.activity__mode-select-area {
  margin-top: 18px;
  width: 100%;
  height: 187px;
  background: #0b0b60;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 67px;
}

.activity__mode-select-area__title {
  color: white;
  text-align: left;
  margin-bottom: 16px;
}
.activity__mode-select-area__title h1 {
  font-size: 60px;
  font-weight: 700;
  display: inline;
  margin-right: 24px;
}
.activity__mode-select-area__title h2 {
  font-size: 36px;
  font-weight: 600;
  display: inline;
  letter-spacing: 10.5%;
}

.activity__mode-select-area__mode {
  display: flex;
  flex-direction: row;
}

.activity__mode-select-area__mode__mode-button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  margin-right: 20px;

  border-radius: 8px;
  background-color: #ffffff;
  font-weight: 600;

  border: #c5c5c5 0.8px solid;
}

.activity__mode-select-area__mode__mode-button:hover {
  background-color: #e3e3e3;
}

.activity__mode-select-area__mode__mode-button:active {
  background-color: #cccccc;
}

.activity__mode-select-area__mode__mode-button:last-child {
  margin-right: 0px;
}

.activity__mode-select-area__mode__mode-button.selected {
  background: linear-gradient(180deg, #ccddff 0%, #bbccff 100%);
}
