.serviceContent{
margin-top: 1%; 
margin-bottom: 2%;  
display: flex;
padding-left: 100px;
padding-right: 100px;
flex-wrap: wrap;
}

.serviceContent img{
    width : 300px;
    height : auto;
}

.serviceIntroduction {
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    flex-wrap: wrap;
}

.serviceIntroduction .h1{
    display: flex;
    font-size: 50px;
    font-weight: 800;
}

.serviceButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

.serviceArea{
    text-align: left;
    padding-left: 100px;
padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.serviceButton{
    border-radius: 6%;
    width: 200px;
    height: 50px;
    color: black;
    background-color: #fff;
    border-color: gray;
    font-size: 20px;
  }

  @media (max-width:700px){
    .serviceContent{
        flex-direction: column;
        justify-content: center;
    }

    .serviceContent img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .serviceButtons{
        flex-direction: column;
        justify-content: center;
    }
    .serviceIntroduction{
        flex-direction: column;
        justify-items: center;
    }
    .serviceIntroduction .h1{
        flex-direction: column;
        justify-items: center;
    }

    .serviceArea{
        flex-direction: column;
        justify-items: center;
    }
}