*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:poppins;
}
ul, nav{
    list-style: none;
}
a{
    text-decoration: none;
    cursor:pointer;
    color:inherit;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width:100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 35px 100px 0;
}
.header h2{
    text-transform: uppercase;
}
.header nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.header nav li{
    margin: 0 15px;
}
.header nav li:first-child{
    margin-left: 0;
}
.header nav li:last-child{
    margin-left: 0;
}

.box {
    width: 30px;
    height: 30px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:1000px){
    .header{
        padding: 20px 50px;
    }
}
@media (max-width:700px){
    .header{
        flex-direction: column;
    }
    .header h2{
        margin-bottom: 15px;   
    }
    .header nav li{
        margin: 0 7px;
    }
}