.cropper{
    clip-path: polygon(0 0, 100% 0%, 100% 92%, 50% 100%, 0 92%);
    width: 100%;
    height: 100%;
    background-size:cover;
}
@media(max-width:700px){
    .cropper{
        clip-path: polygon(0 0, 100% 0%, 100% 94%, 50% 100%, 0 94%);
        width: 100%;
        height: 25vh;
        background-size:cover;
    }
}

.banner-text{
    position: absolute;
    top:32%;
    left:8%;
    color: #fff;
    text-align: left;
}

.banner-area{
    position: relative;
    justify-content:center;
    min-height: 50vh;
    color: #fff;
    text-align: center;
}

.banner-text h1{
    margin-bottom: 15px;
    font-size: clamp(1.5rem, 2vw ,4rem);
    font-weight : lighter;
    font-family: merienda;
}

.banner-text h1 b{
    margin-bottom: 15px;
    font-size: clamp(1.8rem, 3vw ,6rem);
    font-weight : bold;
    font-family: merienda;
}

.banner-text p{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: clamp(1rem, 1.2vw ,1.5rem);
}

.banner-area a.banner-btn{
    padding: 15px 35px;
    background: blue;
    border-radius: 50px;    
}
@media (max-width:700px){
    .banner-area{
        min-height: 100px;
    }
    .banner-text{
        left:50%;
        top:50%;
        text-align: center;
        transform: translate(-50%, 0%);
    }
    .banner-text h1{
        font-size: clamp(0.5rem, 3vw ,1.2rem);
    }
    .banner-text h1 b{
        font-size: clamp(0.5rem, 3vw ,1.2rem);
    }
    .banner-text p {
        display:none
    }
    .banner-area a.banner-btn{
        padding: 15px 40px;
    }
}

