.contents_section{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;
}
@media(max-width:1000px){
    .contents_section{
        padding: 1%;
    }
}
@media(max-width:600px){
    .contents_section{
        padding: 1%;
    }
}

.contents-area{
    position: relative;
    justify-content: flex-start;
    align-items: start;
    min-height: 1vh;
    color: #000;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
}

.contents-area h1{
    margin-bottom: 10px;
    font-size: 40px;
    font-family: merienda;
    text-align: left;
}

.contents-area h2{
    margin-bottom: 15px;
    font-size: 20px;
    color: gray;
}

.contents-area a{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 15px;
    color: gray;
}

.contents-wrap{
    padding-left: 10vw;
    padding-right: 10vw;
}

@media (max-width:800px){
    .contents-area{
        min-height: 1vh;
        padding-left: 7%;
    }
    .contents-area h1{
        font-size: clamp(0.5rem, 3vw , 1.2rem);
    }
    .contents-area h3 {
        font-size: clamp(0.5rem, 3vw ,1.2rem);
    }
    .contents-area a{
        font-size: clamp(0.5rem, 3vw ,1.2rem);
    }
}